body {
	background-color: #e1f5fe; /* Светло-голубой фон */
}

select#changeLanguage,
button#submit {
	font-family: 'Montserrat', sans-serif; /* Или другой современный шрифт */
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

select#changeLanguage {
	background-color: #e1f5fe; /* Сохраняем цвет фона */
	color: #333;
}

button#submit {
	background-color: #ff6b35; /* Оранжевый */
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button#submit:hover {
	background-color: #ff5722; /* Более темный оттенок оранжевого при наведении */
}

h2 {
	/* Для заголовка */
	color: #8b0000; /* Бардовый */
	font-weight: bold;
}
